{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-sm-12 col-md-12">
            <h1 class="form-title text-center">数据查询</h1>
        </div>
        <div class="col-sm-12 ">
            <form class="form-inline ssnr" method="post" action="">
                <div class="col-sm-12 col-md-12 ">
{#                    {% csrf_token %}#}
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="用户ID" name="yhid"
                               autofocus="autofocus"
                               maxlength="10">
                    </div>
                    <div class="form-group text-right">开始日期：</div>
                    <div class="form-group text-right">
                        <input class="form-control" type="date" name="start_date" />
                    </div>
                    <div class="form-group text-right">结束日期：</div>
                    <div class="form-group text-right">
                        <input class="form-control" type="date" name="closing_date" />
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" class="btn btn-info text-right" value="搜索"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
<table class="altrowstable">
    <thead>
    <tr class="oddrowcolor">
        <td>序号</td>
        <td>会员编号</td>
        <td>会员姓名</td>
        <td>订单编号</td>
        <td>报单时间</td>
        <td>所属系统</td>
        <td>报单金额</td>
        <td>是否验证</td>
        <td>验证时间</td>
        <td>验证店铺</td>
        <td>项目名称</td>
        <td>所属省份</td>


    </tr>
    </thead>

    {% for name in uname.object_list %}
        {% if forloop.counter|divisibleby:'2' %}
            <tr class="oddrowcolor">
                <td>{{ forloop.counter }}</td>
                <td>{{ name.id.ccuscode_id }}</td>
            {% if name.id.ccuscode.ccusname %}
                <td>{{ name.id.ccuscode.ccusname }}</td>
                {% else %}
                <td>{{ name.id.ccontactname }}</td>
                {% endif %}
                <td>{{ name.id.cvouchcode }}</td>
                <td>{{ name.id.ddate }}</td>
                <td>{{ name.id.cdefine1 }}</td>
                <td>{{ name.famount|floatformat }}</td>
                {% if name.bsale %}
                    <td>{{ name.bsale }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if name.submitdate %}
                    <td>{{ name.submitdate }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if name.cshopcode %}
                    <td>{{ name.cshopcode }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ name.cinvcode }}</td>
                <td>{{ name.id.ccusoaddress }}</td>
            </tr>
        {% else %}
            <tr class="evenrowcolor">
                <td>{{ forloop.counter }}</td>
                <td>{{ name.id.ccuscode_id }}</td>
                 {% if name.id.ccuscode.ccusname %}
                <td>{{ name.id.ccuscode.ccusname }}</td>
                {% else %}
                <td>{{ name.id.ccontactname }}</td>
                {% endif %}
                <td>{{ name.id.cvouchcode }}</td>
                <td>{{ name.id.ddate }}</td>
                <td>{{ name.id.cdefine1 }}</td>
                <td>{{ name.famount|floatformat }}</td>
                {% if name.bsale %}
                    <td>{{ name.bsale }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if name.submitdate %}
                    <td>{{ name.submitdate }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if name.cshopcode %}
                    <td>{{ name.cshopcode }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ name.cinvcode }}</td>
                <td>{{ name.id.ccusoaddress }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
<nav class="pagelist">
    {% include 'productlist.html' %}
</nav>
{% endblock %}