<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
{% load bootstrap4 %}

{# Display a form #}

<div class="row">
<div class="col-md-2"><div class="well"></div></div>
<div class="col-md-8">
<form action="/url/to/submit/" method="post" class="form form-primary">
    {% csrf_token %}
    {% bootstrap_form form layout='inline'%}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form></div>
<div class="col-md-2"><div class="well"></div></div></div>